.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  #004169;
}

.menu {
    display: flex;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 1rem;
}

.menu a:hover {
    background-color: #005DA1;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

.menu-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    padding: 10px;
}
.menu-list.show {
    display: flex;
}

@media (max-width: 768px) {
    .menu-container {
        padding: 5px 10px;
    }
    .menu {
      display: none;
    }

    .menu-toggle {
      display: flex;
    }
}
