body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    padding: 20px;
}


#contenido {
    margin: 20px;
}

.codigo {
    background-color: #f9f9f9;
    padding: 5px;
    margin: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    white-space: pre; /* Respeta los saltos de línea en el contenido */
}
#btn-copiar {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

#btn-copiar:hover {
    background-color: #45a049;
}

#codigo {
    font-family: monospace;
}

.footer {
    background-color: #004169;
    color: white;
    text-align: center;
    padding: 5px 0;
    margin: 0 18px 10px;

}