/*RECETA DE PIE*/
body{
        background-image: url('img/fondo.jpg');
        
        background-repeat: no-repeat;
        background-size: cover;
        
}

.boton{
        border: 2px solid #333333; /*anchura, estilo y color borde*/
        padding: 20px; /*espacio alrededor texto*/
        background-color: #f0ae20; /*color botón*/
        color: #4d351c; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: fantasy; /*tipografía texto*/
        border-radius: 50px; /*bordes redondos*/
        }

.slider{
        width: auto;
        margin: auto;
        margin-bottom: -670px ;
        overflow: hidden;

}

.slider ul{
        display: flex;
        padding: 0;
        width: 400%;

        animation: desplazamiento 20s infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
}

.slider li{
        width: 100%;
        list-style: none;
}

.slider img{
        width: 1300px;
        height: 650px;
}
@keyframes desplazamiento {
        0%{margin-left: 0;}
        20%{margin-left: 0;}

        25%{margin-left: -100%;}
        45%{margin-left: -100%;}

        50%{margin-left: -200%;}
        70%{margin-left: -200%;}

        75%{margin-left:-300%;}
        100%{margin-left:-300%;}
}

.marco{
        
        width: 1300px;
        height: 650px;
}

.cuadro-amarillo1 {
        border: 2px solid #333333; /*anchura, estilo y color borde*/
        padding: 20px; /*espacio alrededor texto*/
        background-color: #f0ae20; /*color botón*/
        color: #4d351c; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: none; /*capitalización texto*/
        font-family: fantasy; /*tipografía texto*/
        font-size: 20px;
        border-radius: 50px; /*bordes redondos*/
        width: 300px;
        height: 350px;
        text-align: center;
        display: inline-block; /* Mostrar en línea */
        margin-right: 20px;
        vertical-align: top;
      }

.cuadro-amarillo2 {
        border: 2px solid #333333; /*anchura, estilo y color borde*/
        padding: 15px; /*espacio alrededor texto*/
        background-color: #f0ae20; /*color botón*/
        color: #4d351c; /*color texto*/
        text-decoration:none ; /*decoración texto*/
        text-transform: none; /*capitalización texto*/
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
        font-size: 20px;
        border-radius: 50px; /*bordes redondos*/
        width: 1200px;
        height: 230px;
        text-align: center;
      }

.cuadro-amarillo3 {
        border: 2px solid #333333; /*anchura, estilo y color borde*/
        padding: 15px; /*espacio alrededor texto*/
        background-color: #f0ae20; /*color botón*/
        color: #4d351c; /*color texto*/
        text-decoration:none ; /*decoración texto*/
        text-transform: none; /*capitalización texto*/
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*tipografía texto*/
        font-size: 20px;
        border-radius: 50px; /*bordes redondos*/
        width: 1200px;
        height: 290px;
        text-align: center;
      }

     /*MENU*/

.boton2{
        border: 2px solid #333333; /*anchura, estilo y color borde*/
        padding: 20px; /*espacio alrededor texto*/
        background-color: #f0ae20; /*color botón*/
        color: #4d351c; /*color texto*/
        text-decoration: none; /*decoración texto*/
        text-transform: uppercase; /*capitalización texto*/
        font-family: fantasy; /*tipografía texto*/
        border-radius: 50px; /*bordes redondos*/
        margin-right: 20px;
        }
.logo{
        background-color:#33333300;
        border: rgba(216, 191, 216, 0);
        margin-bottom: -130px;
        height: 150px;
}